:root {
    --nonexistingTileColor: white;
    --emptyTileColor: #e1cbc5;
    --tileBorderColor: #dbc2ba;
    --dominoTextColor: #444444;
    --emptyDominoColor: #f5efee;
    --selectedTileColor: #d63852;
    --addConstraintColor: #4aa1e9;
    --pushingDominoValueTile1: #69e38c;
    --pushingDominoValueTile2: #98d1a8;
    --tileLength: 50px;

    --constraintTileColor1: #eba2af;
    --constraintTileColor2: #adc0c1;
    --constraintTileColor3: #a5a2ae;
    --constraintTileColor4: #b8b191;
    --constraintTileColor5: #eabd97;
    --constraintTileColor6: #c4a3c0;
    --constraintTileColor7: #eba2af;
    --constraintTileColor8: #adc0c1;
    --constraintTileColor9: #a5a2ae;
    --constraintTileColor10: #b8b191;
    --constraintTileColor11: #eabd97;
    --constraintTileColor12: #c4a3c0;
    --constraintTileColor13: #eba2af;
    --constraintTileColor14: #adc0c1;
    --constraintTileColor15: #a5a2ae;
}
body{
    background-color: white;
    justify-items: center;
    justify-content: center;
    display: grid;
    font-family:monospace;
}
#solvePuzzleButton{
    padding: 10px;
    border: 2px solid black;
    border-radius: 10px;
    font-family:monospace;
    font-size:large;
}
#boardContainer{
    margin-top:10px;
    border: 3px solid black;
}
.boardRow{
    display: flex;
}
.tile{
    width: var(--tileLength);
    height: var(--tileLength);;
    border: 3px solid var(--tileBorderColor);
    font-size: 35px;
    text-align: center;
    align-content: center;
}
.nonexistingTile{
    background-color: var(--nonexistingTileColor);
    border: 1px solid var(--dominoTextColor);
    padding: 2px;
}
.existingTile{
    background-color: var(--emptyTileColor);
}
.topDominoTile{
    border: 3px solid var(--dominoTextColor);
    background-color: white;
    border-bottom: 3px solid white;
    border-radius: 5px;
}
.bottomDominoTile{
    border: 3px solid var(--dominoTextColor);
    background-color: white;
    border-top: 3px solid white;
    border-radius: 5px;
}
.leftDominoTile{
    border: 3px solid var(--dominoTextColor);
    background-color: white;
    border-right: 3px solid white;
    border-radius: 5px;
}
.rightDominoTile{
    border: 3px solid var(--dominoTextColor);
    background-color: white;
    border-left: 3px solid white;
    border-radius: 5px;
}
.constraint0Tile{
    background-color: var(--constraintTileColor1);
}
.constraint1Tile{
    background-color: var(--constraintTileColor2);
}
.constraint2Tile{
    background-color: var(--constraintTileColor3);
}
.constraint3Tile{
    background-color: var(--constraintTileColor4);
}
.constraint4Tile{
    background-color: var(--constraintTileColor5);
}
.constraint5Tile{
    background-color: var(--constraintTileColor6);
}
.constraint6Tile{
    background-color: var(--constraintTileColor7);
}
.constraint7Tile{
    background-color: var(--constraintTileColor8);
}
.constraint8Tile{
    background-color: var(--constraintTileColor9);
}
.constraint9Tile{
    background-color: var(--constraintTileColor10);
}
.constraint10Tile{
    background-color: var(--constraintTileColor11);
}
.constraint11Tile{
    background-color: var(--constraintTileColor12);
}
.constraint12Tile{
    background-color: var(--constraintTileColor13);
}
.constraint13Tile{
    background-color: var(--constraintTileColor14);
}
.constraint14Tile{
    background-color: var(--constraintTileColor15);
}
.addingConstraintTile{
    background-color: var(--addConstraintColor);
}
.pushingDominoValueTile1{
    background-color: var(--pushingDominoValueTile1);
}
.pushingDominoValueTile2{
    background-color: var(--pushingDominoValueTile2);
}
#dominosContainer{
    display: flex;
    flex-wrap: wrap;
}
.domino{
    display: flex;
    border: 5px solid var(--dominoTextColor);
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    margin: 15px;
    cursor: pointer;
}
.addNewDomino{
    cursor:default;
}
.selectedDomino{
    background-color: var(--selectedTileColor);
}
.boardDomino{
    background-color: gray;
}
.deletingDomino{
    cursor: not-allowed;
}
.dominoSquare{
    width: var(--tileLength);
    height: var(--tileLength);
    align-content: center;
    text-align: center;
    font-size: 30px;
}
.dominoInput{
    width: var(--tileLength);
    height: var(--tileLength);
    font-family: monospace;
    font-size: 30px;
}
#addConstraintContainer{
    text-align: center;
    padding: 7px;
    border: 3px solid var(--dominoTextColor);
    border-radius: 10px;
    width: 250px;
    height: 80px;
}
#addConstraintButton{
    border: 3px solid var(--addConstraintColor);
    border-radius: 10px;
    font-size:x-large;
    cursor: pointer;
    padding:5px;
}
.addConstraintButtonActive{
    background-color: var(--addConstraintColor);
}
.constraintInput{
    font-family:monospace;
    font-size:x-large;
    border:2px solid black;
    height:30px;
    width:85px;
    margin:5px;
    border-radius: 10px;
}
#constraintsContainer{
    display:flex;
}
.constraintContainer{
    display:flex;
    align-items: center;
    margin: 10px;
}
.constraintColor{
    width:25px;
    height:25px;
    margin: 10px;
    cursor: not-allowed;
}